{% extends "layout.html" %}

{% block title %}
    Admin Roles
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="formulario">
                <form action="/admin/roles/editar/{{id_roles}}" method="post">
                    <input type="hidden" name="id_roles" value="{{id_roles}}">
                    <input type="text" name="nombre" id="" placeholder="Nombre Rol" class="form-control mt-3" value="{{formulario.nombre_roles}}"> <br>0
                    <input type="submit" value="Guardar" class="btn btn-success">
                </form>
            </div>
        </div>
        <div class="col-8">
            <div class="cat-info">
                <table class="table table-snipped">
                    <thead>
                        <tr class=" text-center">
                            <th>id</th>
                            <th>Admin</th>
                            <th>Usuario</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if categorias %}
                                {% for categoria in categorias %}
                                    <tr class="text-center">
                                        <th>{{categoria.id_categoria}}</th>
                                        <th>{{categoria.nombre_categoria}}</th>
                                        {% if categoria.cat_padre == None %}
                                        <th class="text-center"><i class="fa-solid fa-crown fa-beat " style="color: #fbf304;"></i></i></th>
                                        {%else %}
                                            <th>{{categoria.cat_padre}}</th>
                                        {%endif%}
                                        <th>
                                            <a href="/admin/categoria/eliminar/{{categoria.id_categoria}}" class="btn btn-danger"> Eliminar</a>
                                        </th>
                                    </tr>
                                {% endfor %}
                            {%else %}

                               <h1>no hay categoria</h1>
                            {%endif%}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock %}