
{% extends "layout.html" %}

{% block title %}
    Admin Categoria
{% endblock %}

{% block main %}

<!-- Button trigger modal -->
<table class="table table-responsive table-hover">
    <thead>
        <tr class="text-center">
            <th>id</th>
            <th>Emprendimiento</th>
            <th>Direccion</th>
            <th>Celular</th>  
            <th>Propietario</th>  
            <th>Estado</th>  
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if info %}
                {% for i in info %}
                    <tr class="text-center">
                        <th>{{i.id_emp}}</th>
                        <th>{{i.nombre_emp}}</th>
                        <th>{{i.direccion_emp}}</th>
                        <th>{{i.celular_emp}}</th>
                        <th>{{i.nombre_persona}}</th>
                        {% if i.estado == True %}
                        <th>
                            <span class="badge badge-success rounded-pill d-inline">Activo</span>
                        </th>
                        {%else%}
                        <th>
                            <span class="badge badge-danger rounded-pill d-inline">Inactivo</span>
                        </th>
                        {%endif%}
        
                        <th>
                            <a href="/admin/emp/editar/{{i.id_emp}}" class="btn btn-primary"> Editar</a>
                            <a href="/admin/emp/eliminar/{{i.id_emp}}" class="btn btn-danger"> Eliminar</a>
                        </th>
                    </tr>
                {% endfor %}
            {%else %}

               <h1>no hay categorias</h1>
            {%endif%}
        
    </tbody>
</table>
{% endblock %}

{% block modal%}
    
{% endblock%}