{% extends "layout.html" %}

{% block title %}
    Admin Repartidor
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="formulario">
                <form action="/admin/repartidor" method="post">
                    <input type="text" name="nombre_rep" id="id_rep" placeholder="Nombre Repartidor" class="form-control mt-3"> <br>
                    <input type="submit" value="Guardar" class="btn btn-success">
                </form>
            </div>
        </div>
        <div class="col-8">
            <div class="cat-info">
                <table class="table table-snipped">
                    <thead>
                        <tr class="text-center">
                            <th>id</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbod
                        {% if repartidor %}
                                {% for r in repartidor %}
                                    <tr class="text-center">
                                        <th>{{r.id_repartidor}}</th>
                                        <th>{{r.nombre_rep}}</th>
                                        {% if r.nombre_rep == 'Admin'%}
                                            <th> <i class="fa-solid fa-crown fa-beat" style="color: #fbf304;"></i> {{r.nombre_rep}} </th>
                                        {%else%}
                                            <th>{{r.nombre_rep}}</th>
                                        {%endif%}
                                    
                                        
                                        <th>
                                            <a href="/admin/repartidor/editar/{{r.id_repartidor}}" class="btn btn-primary"> Editar</a>
                                            <a href="/admin/repartidor/eliminar/{{r.id_repartidor}}" class="btn btn-danger"> Eliminar</a>
                                        </th>
                                    </tr>
                                {% endfor %}
                        {%else %}
                            <tr>
                                <td>
                                    No hay repartidores registrados
                                </td>
                            </tr>
                        {%endif%}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock %}