
{% extends "layout.html" %}

{% block title %}
    Admin Roles
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="formulario">
                <form action="/admin/roles/editar/{{id}}" method="post">
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="text" name="nombre" id="" placeholder="Nombre categoria" class="form-control mt-3" value="{{formulario.nombre}}"> <br>
                    {% if rol == Admin %}
                        <div class="col-md">
                            <label for="validationCustom04" class="form-label">Seleccione su rol</label>
                            <select name="catPadre" class="form-select" id="validationCustom04" >
                            <option selected disabled value="">Elige...</option>
                            <option value=""><strong>Admin</strong></option>
                            {%for rol in roles %}
                                <option value="{{rol.id}}">{{rol.nombre}}</option>
                            {%endfor%}
                            </select>
                        </div>
                      {% endif %}
                      <br>
                    <input type="submit" value="Guardar" class="btn btn-success">
                </form>
            </div>
        </div>
<!-- Button trigger modal -->
<table class="table table-responsive table-hover">
    <thead>
        <tr class="text-center">
            <th>id</th>
            <th>Rol</th> 
            <th>Estado</th>  
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if info %}
                {% for i in info %}
                    <tr class="text-center">
                        <th>{{i.id}}</th>
                        <th>{{i.nombre}}</th>
                        {% if i.estado == True %}
                        <th>
                            <span class="badge badge-success rounded-pill d-inline">Activo</span>
                        </th>
                        {%else%}
                        <th>
                            <span class="badge badge-danger rounded-pill d-inline">Inactivo</span>
                        </th>
                        {%endif%}
        
                        <th>
                            <a href="/admin/roles/editar/{{i.id}}" class="btn btn-primary"> Editar</a>
                            <a href="/admin/roles/eliminar/{{i.id}}" class="btn btn-danger"> Eliminar</a>
                        </th>
                    </tr>
                {% endfor %}
            {%else %}

               <h1>
                No hay Roles
               </h1>
            {%endif%}
        
    </tbody>
</table>

{% endblock %}

{% block modal%}
    
{% endblock%}