{% extends "layout.html" %}

{% block title %}
    Trending
{% endblock %}
{% block main %}
<div class="card-group">
    <div class="card">
      <img src="./static/emp1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Vibra Bonita</a></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="./static/emp2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Free Fashion</a></h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="./static/emp3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Mocca</a></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="./static/emp4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Cocoa Store</a></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="./static/emp5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Isa Shop</a></h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="./static/emp6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Mocca</a></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="./static/emp7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Tiendas Kd</a></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
      <div class="card">
        <img src="./static/emp8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="#">Ladys Secret Boutique</a></h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
      </div>
{%endblock %}