{% extends "layout.html" %}

{% block title %}
    Trending
{% endblock %}
{% block main %}

<ul>
    {%for i in resul %}
    <div class="container">
        
        <h5>{{i.id_producto}}</h5>
        <h5>Categoría:{{i.nombre_categoria}}</h5>
        <h5>Producto:<a href="/producto/{{i.id_producto}}"> {{i.nombreproducto}}</a></h5>
        <h5>Cantidad: {{i.cant_producto}}</h5>
        <h5>Precio: {{i.precioproducto}}</h5>
        {{i.descripcion}}
    </div>
        
    {%endfor%}
</ul>
{%endblock %}