{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}
{% block main %}
<br></br>
<div class="container">
<form class="row g-3 needs-validation" method="POST" action="/login">
    <div class="col-md-3">
      <label for="validationCustom01" class="form-label">Nombre</label>
      <input name = "nombre" type="text" class="form-control" id="validationCustom01" value="" required>
      <div class="valid-feedback">
        Muy bien!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom02" class="form-label">Apellido</label>
      <input name = "apellido" type="text" class="form-control" id="validationCustom02" value="" required>
      <div class="valid-feedback">
        Muy bien!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustomUsername" class="form-label">Contraseña</label>
      <div class="input-group has-validation">
        <input name = "contraseña" type="password" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
        Ingresa tu contraseña.
        </div>
      </div>
    </div>
</form>
</div>
{%endblock %}