{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}
{% block main %}
<div class="container d-flex justify-content-center align-items-center">
  <form class="row g-3 needs-validation" novalidate method="POST" action="/login">
    <div class="col-md-3">
      <label for="validationCustom01" class="form-label">Usuario</label>
      <input name="usuario" type="text" class="form-control" id="validationCustom01" value="" required>
      <div class="valid-feedback">
        ¡Muy bien!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustomUsername" class="form-label">Contraseña</label>
      <div class="input-group has-validation">
        <input name="contraseña" type="password" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Ingresa tu contraseña.
        </div>
      </div>
      <button class="btn btn-light" type="submit" id="inicio">Iniciar Sesión</button>
    </div>
  </form>
</div>
{%endblock %}